@model EntityLayer.Concrete.Heading

@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Başlık Güncelleme Sayfası</h2>
@using (Html.BeginForm("EditHeading", "WriterPanel", FormMethod.Post))
{
<div class="form-group">

    @Html.HiddenFor(h => h.HeadingID)
    @Html.HiddenFor(h => h.HeadingDate)
    @Html.HiddenFor(h => h.WriterID)

    @Html.Label("Başlık Adı")
    @Html.TextBoxFor(h => h.HeadingName, new { @class = "form-control" })
    <br />


    @Html.Label("Kategori")
    @Html.TextBoxFor(h => h.CategoryID, new { @class = "form-control" })
    <br />
    @Html.DropDownListFor(b => b.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</div>
}
//75 video


